**/node_modules
**/.next
**/dist
**/.turbo
**/.cache
.git
.gitignore
README.md
.env
.env.*
npm-debug.log*
yarn-error.log*
**/node_modules
**/.next
**/dist
**/build
**/.turbo
**/.cache
.git
.vscode
.idea
.env
.env.*
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
**/*.log
